body {
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.imgserie {
    align-items: center;
    width: 380px;
    height: 380px;
    filter: drop-shadow(0px 7px 7px #eeff00);
    animation: rotar 9s linear infinite;
}

@keyframes rotar {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.paragraph2-descripcion {
    padding: 25px;
}

.shorts {
    display: flex;
    padding-top: 30px;
    line-height: 70px;
}

.shorts1 {
    padding-top: 13px;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    color: #01e43a;
    width: 230px;
    height: 385px;
    box-shadow: 5px 5px 10px #eeff00;
}

.shorts2 {
    padding-top: 13px;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    color: #01e43a;
    width: 230px;
    height: 385px;
    box-shadow: 5px 5px 10px #eeff00;
}

.shorts3 {
    padding-top: 13px;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    color: #01e43a;
    width: 230px;
    height: 385px;
    box-shadow: 5px 5px 10px #eeff00;
}

.shorts4 {
    padding-top: 13px;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    color: #01e43a;
    width: 230px;
    height: 385px;
    box-shadow: 5px 5px 10px #eeff00;
}

.card {
    position: relative;
    width: 250px;
    height: 350px;
    margin: 20px;
    box-shadow: 5px 5px 10px #eeff00;
    border-style: solid;
    border-width: 5px;
    border-color: #01e43a;
    border-radius: 15px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.card .front h5 {
    position: absolute;
    top: 290px;
    width: 100%;
    height: 45px;
    color: #032336b3;
    text-align: center;
    font-weight: bold;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
}

.card .back h5 {
    font-size: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

@media (max-width: 768px) {
    .card {
        margin: auto;
    }
}