.ft-1 {
    color: white;
    text-align: center;
}

.ft-1 p{
   margin-left: 1rem;
   
}

.p1 {
    margin-top: 2rem;
}

.ft-2 {
    color: white;
   
}



.ft-2 {
    color: white;
    margin-top: 2rem;
 
}

.ft-3 {
    color: gray;
    margin-top: 2rem;
}

.footer-icons i{
    padding: 0.5rem;
    background-color: #a6cccc;
    color:	#60a85f;
    margin: 0 0.5rem;
    border-radius: 50%;
   
    
}

.footer-icons {
    margin: 0 5em;
    margin-top: 1rem;    
}

.Last-footer {
    background-color:	black;
    color: #60a85f;
    text-align: center;
}

.tituloFooter {
    width: 15em;
    margin-top: 1rem;
    
}

.fa-envelope{
    padding: 0.5rem;
 
    color:	#60a85f;
    margin: 0 0.5rem;
    border-radius: 50%;
}

.nav-lin {
    color: white;

}

.titulo2 {
    color:  #a6cccc;
    padding-top: 5%;
}

.titulo3 {
    color:  #a6cccc;
    padding-top: 5%;
}

.rickmorty2 {
    width: 8rem;
    position: relative;
    left: 150px;
    overflow: hidden;
    transform: rotate(125dg);

    
}

.conteiner {
    width: 100%;
}