.ft-1 {
    color: white;
    text-align: center;
}

.ft-1 p {
    margin-left: 1rem;

}

.p1 {
    margin-top: 2rem;
}

.ft-2 {
    color: white;

}

.ft-2 {
    color: white;
    margin-top: 2rem;

}

.ft-3 {
    color: gray;
    margin-top: 2rem;
}


.tituloFooter {
    width: 15rem;
    margin-top: 5rem;

}

.nav-lin {
    color: white;

}

.titulo2 {
    color: #a6cccc;
    padding-top: 5%;
}

.titulo3 {
    color: #a6cccc;
    padding-top: 5%;
    text-decoration: none;
}

.Footer {
   margin-bottom: -10%;
    bottom: 0svb;
}
.footer-icones{
    padding-top: 3rem;

}

.footer-icones i{
    
    margin: 0 .5rem;
    padding: 0.5rem;
    background-color: #97ce4c;
    color: 	#343d46;
    border-radius: 50%;

}

.fa-envelope {
    color: #97ce4c;
    margin: 0 0.5rem;
}

@media (max-width: 600px) {
   .Footer {
    text-align: center; 
   }
   ul {
    list-style: none;
    margin-left: -10%;
}
}